extends base.pug
include mixins/videoMIX.pug

block contents
    if ERRMSG 
        h1=ERRMSG
    
    div
        each potato in videos.reverse()
            +videoMIX(potato)
        else 
            span 비디오가 없습니다.    