extends base.pug

block contents 
    if ERRMSG
        H1 #{ERRMSG}
    form(method="post")
        input(name="username" type="text" required placeholder="User Name")
        input(name="password" type="password" required placeholder="Password")
        input(type="submit" value="Login")
    
    br
    a(href="/user/githubStart") 깃헙 로그인