extends base.pug

block contents 
    form(method="post")
        input(name="username" type="text" required placeholder="User Name")
        input(name="password" type="password" required placeholder="Password")