extends base.pug
include mixins/videoMIX.pug
block contents 
    form(method="get")
        input(type="text",name="keyword",placeholder="keyword",required)
        input(type="submit",value="Search")
    
    if videos 
        each cookie in videos
            +videoMIX(cookie)