extends base.pug
include mixins/videoMIX.pug

block contents 
    div
        if user.avatarUrl !== ""
            img(src="/"+`${user.avatarUrl}` width=150 height=150)
        else 
            h1=user.name
    div 
        each potato in user.videos 
            +videoMIX(potato)

