extends base.pug

block contents 
    form(method="post")
        input(type="text",name="title" value=`${video.title}` placeholder="title")
        input(type="text",name="description" value=`${video.description}` placeholder="description")
        input(type="text",name="hashtag" value=`${video.hashtag}` placeholder="해쉬태그,로 구분해 작성")
        input(type="submit", value="Video Save")